header {
	background-color: #666;
	height: 10%;
	text-align: center;
	font-size: 35px;
	color: white;
	position: fixed;
	width: 100vw;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	overflow-x: hidden;
}
body{
	margin: 0;
	padding: 0;
}
section#body{
	position: relative;
	background-color:#cccccc;
	margin:0px;
	min-height: 100%;
	width: 100vw;
}
.overlay{
	height:100%;
	width:0;
	position: fixed;
	z-index: 1;
	top: 0;
	left:0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.overlay a:hover, .overlay a:focus{
	color: #f1f1f1;
}
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

footer{
	position: absolute;
	width: 100vw;
	height: 10vh;
	background-color: #666;
	overflow-x: hidden;
}
